body{
    background-image: url("../images/think-professional.jpg");
    background-size: cover;
    background-repeat: repeat;
}
.margin{
    margin-left: 1cm;
    margin-right: 1cm;
}
#form1{
    color: black;
    font-size:18px ;
    font-weight: bold;
    margin-top: 2cm;
    position: absolute;
    background-color: white;
    width: 65%;
    margin-left: 6.3cm;
    border: 1px solid black;
}
input[type=text],input[type=password], select{
    width: 75%;
    padding: 12px 16px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
.table1{
    width: 95%;
}
input[type=text],input[type=password]:focus{
    border: 1px solid rgb(40, 212, 212);
}
#sub1{
    width: 80%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
select{
    width: 90%;
    padding: 12px 16px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
#sub1:hover {
    background-color: rgb(0, 140, 255);
}
#sub1:enabled{
    background-color: blueviolet;
}
input[type=reset] {
    width: 90%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
  
input[type=reset]:hover {
    background-color: rgb(0, 140, 255);
}
#table2{
    width: 10cm;
    margin-left: 15cm;
    border-spacing: 30px;
}
.table1 td {
    width: 40%;
    
}
#recap{
    width: 1cm;
    height: 1cm;
}
#privacy{
    margin: 1cm;
}
#privacy a{
    color: rgb(74, 104, 241);
    text-decoration: none;
}
#privacy a:hover{
    color: rgb(155, 9, 252);
    text-decoration: underline;
}
.eye{
    position: absolute;
    width: 1cm;
    height: 1cm;
    opacity: 1;
    border-radius: 6px;
}