.loginbackground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    padding-top: 60px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.imgposition {
    text-align: center;
    margin: 24px 0px 12px 0px;
    position: relative;
}
.loginbackground-content {
    background-image: url("../images/bp8.jpg");
    background-size: cover;
    margin: 5% auto 15% auto;
    border: 1px solid gray;
    width: 50%;
    border-radius: 21px;
}
img.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.container {
    padding: 16px ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.rstbtn {
    background-color: brown;
    color: white;
    border: none;
    width: 2.5cm;
    height: 1cm;
    cursor: pointer;
    width: 5cm;
    border-radius: 6px;
}
.rstbtn:disabled{
    background-color: rgb(165, 106, 106);
    color: black;
}
.restuname{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display:  inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 6px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0px;
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
    
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    
  }
.link1 a {
    cursor: pointer;
    text-decoration: none;
}
.link1 a:hover,
.link1 a :focus
{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.eyereset{
    position: absolute;
    width: 1cm;
    height: 1cm;
    opacity: 1;
    border-radius: 6px;
}
.resetpara:hover{
    color: blueviolet;
    font-style: underline;
}